<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="Team" value="demo" />
        <add key="Leaderboard" value="http://challenge.acceptance.brimit.com" />
    </appSettings>
</configuration>